/**
 * @name Demon Slayer - Daki
 * @author TereruNaYo
 * @version auto updates
 * @description Тема создана в генераторе https://vsthemes.org/generator/
 * @source https://vsthemes.org/skins/discord/51365-demon-slayer-daki.html
 * @authorLink https://vsthemes.org/user/TereruNaYo/
 * @authorId 65141
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.15;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.05;
    --memberlistransparency: 0;
    --accentcolor: 238,50,113;
    --background: url("https://vsthemes.org/uploads/posts/2022-04/1650579241_demon-slayer-daki-wallpaper-2880x1800_8.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}