/**
 * @name tantei wa mou shindeiru drunk siestav3
 * @author SAD SHARK#5716
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
*/

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --background-image: url('https://i.imgur.com/c3T5Otn.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 0px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://i.imgur.com/RAL2Hwn.gif');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0;
  --popout-modal-brightness: 0.5;
  --gradient-primary: 0,240,255;
  --gradient-secondary: 85,0,255;
  --link-colour: #FFFFFF;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 360deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Scheherazade New;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2.5px;
  --rs-medium-width: 2.5px;
  --rs-large-width: 2.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #00FFF7;
  --rs-idle-color: #FF9F00;
  --rs-dnd-color: #FF0000;
  --rs-offline-color: #6C6C6C;
  --rs-streaming-color: #5E00FF;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */