/**
 * @name Neko v.1
 * @author DELETED
 * @version auto updates
 * @description Тема создана в генераторе https://vsthemes.org/generator/
 * @source https://vsthemes.org/skins/discord/49081-nekoschwepstheme.html
 * @authorLink https://vsthemes.org/user/DELETED/
 * @authorId 2
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.1;
    --messagetransparency: 0.35;
    --guildchanneltransparency: 0.1;
    --memberlistransparency: 0;
    --accentcolor: 255,215,92;
    --background: url("https://vsthemes.org/uploads/posts/2022-01/1642256696_1111.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}