/**
 * @name oshi no ko akane kurokawa v4
 * @author SAD SHARK#5716
 * @version 2.0.0
 * @description Bulp

*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/uXJEmb4.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/Udv6mfh.jpg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/xuZNTCv.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/bEq6Je4.gif');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0;
  --overlay-brightness: 0.5;
  --gradient-primary: 123,68,250;
  --gradient-secondary: 33,189,210;
  --link-colour: #00A4FF;
  --scrollbar-colour: rgb(0,157,255,0.35);
  --gradient-direction: 180deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Comfortaa;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
}

/* Any custom CSS below here */